.container-music {
  background: rgba(0, 0, 0, 0.418);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  width: 300px;
  height: 50vh;
  margin-top: 2.5vh;
}

.cover-art {
  width: 100%;
  height: 140px;
  border-radius: 12px;
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-art p {
  font-size: 80px;
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.cover-art-text {
  font-size: 15px;
  margin-top: -17px;
}

.controls {
  margin-bottom: 0px;
}

.controls button {
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1em;
  margin: 0;
}

.controls button:hover {
  background-color: rgba(0, 0, 0, 0.818);
}

.controls button:disabled {
  background-color: rgba(0, 0, 0, 0.418);
  color: #ccc;
  cursor: not-allowed;
}

.track-list {
  list-style: none;
  padding: 0;
}

.track-list li {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;

  position: relative;
  font-size: 0.8em;
}

.track-list li.playing::after {
  content: " - Playing";
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.warning {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

.track-list li.playing {
  background-color: rgba(0, 0, 0, 0.418);
}
