#clock {
  display: flex;
  margin-top: 1vh;
  font-size: 4vw;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.292);
  color: #fff;
  border: solid 5px #fff;
  border-radius: 50%;
  padding: 130px 0px;
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  width: 25vw;
  min-width: 235px;
  height: 25vw;
  min-height: 235px;
  justify-content: center;
  align-items: center;
}

.date-container {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.292);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.418);
  margin-top: -100px;
  position: relative;
  font-size: 2.75vw;
  border: solid 5px #fff;
  border-radius: 50%;
  padding: 130px 45px;
  border-radius: 50%;
  text-align: center;
  width: 25vw;
  min-width: 235px;
  height: 25vw;
  min-height: 235px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .date-container {
    display: none;
  }
}
