* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #191919;
}
.main_container {
  display: flex;
}

.context-menu {
  color: #000;
  font-family: sans-serif;
  position: absolute;
  background-color: #fff;
  border: 3px solid #fff;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none;
  z-index: 1000;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #fff;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  padding: 3px;
}

.left_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  margin-left: 5vh;
}
.right_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
}

.navbar {
  display: none;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 1000px) {
  .navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .weather-widget,
  .container-music,
  #container {
    display: none;
  }
  #container {
    display: none !important;
  }
  #todo-list,
  .container-pomodoro_timer {
    width: 80vw !important;
    max-width: 500px;
    margin: 20px auto;
  }

  .container-pomodoro_timer {
    height: auto;
    min-height: 300px;
  }
  .left_side {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-left: 0;
  }
  .right_side {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: absolute;
    left: 0;
  }
  .main_container {
    display: flex;
    justify-content: center;
  }
  .right_side {
    bottom: 0px;
  }
}
