* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #191919;
}
.main_container {
  display: flex;
}

.context-menu {
  color: #000;
  font-family: sans-serif;
  position: absolute;
  background-color: #fff;
  border: 3px solid #fff;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none;
  z-index: 1000;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #fff;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  padding: 3px;
}

.left_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  margin-left: 5vh;
}
.right_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 0px;
}
