* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main_container {
  display: flex;
  margin-top: 50px;
}
#background-container {
  margin-top: -50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("images/default-image.jpg"); /* Default background image */
  position: absolute;
}

.context-menu {
  color: #000;
  font-family: sans-serif;
  position: absolute;
  background-color: #fff;
  border: 3px solid #fff;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none;
  z-index: 1000;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #fff;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  padding: 3px;
}

.left_side {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.right_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
}
