.container-pomodoro_timer {
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container-pomodoro_timer h1 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 20px;
}
.timer {
  font-size: 4em;
  margin: 20px 0;
  color: #fff;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.418);
  transition: background 0.3s ease;
}
button:hover {
  background: rgba(0, 0, 0, 0.618);
}
.preset-buttons {
  margin-bottom: 10px;
  max-height: 100px;
  overflow-x: auto;
  display: flex;
  gap: 5px;
}

.preset-buttons button {
  border: 2px solid white;
}
#start-stop-btn,
#start-break-btn {
  margin-top: 20px;
}
input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.218);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new-preset-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  font-weight: 600;
  color: rgb(181, 181, 181);
}
