.container-pomodoro_timer {
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 300px;
  width: 22.5vw;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 50vh;
  margin-bottom: 2.5vh;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-pomodoro_timer h1 {
  font-size: 3vw;
  color: #fff;
}
.timer {
  font-size: 3.5vw;
  color: #fff;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  font-size: 1.25vw;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.418);
  transition: background 0.3s ease;
}
button:hover {
  background: rgba(0, 0, 0, 0.618);
}
.preset-buttons {
  margin-bottom: 10px;
  overflow-x: auto;
  display: flex;
  gap: 5px;
}

.preset-buttons button {
  border: 2px solid white;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.218);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new-preset-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  font-weight: 600;
  color: rgb(155, 155, 155);
  font-size: 0.75vw;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: black;
  border: 1px solid white;
}
.pomodoro-btns {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 600;
  border: 2px solid #000;
}
.pomodoro-btns:hover {
  background-color: #000;
  color: white;
  border: 2px solid #fff;
}
@media (max-width: 1000px) {
  .container-pomodoro_timer {
    height: 40vh;
    border: 2px solid #fff;
  }
  .container-pomodoro_timer h1 {
    font-size: 30px;
  }
  .timer {
    font-size: 40px;
  }
  .preset-buttons {
    font-size: 40px;
  }
  .preset-buttons button {
    font-size: 13px;
  }
  .pomodoro-btns {
    font-size: 12px;
    border: 2px solid #fff;
  }
  ::placeholder {
    font-weight: 600;
    color: rgb(155, 155, 155);
    font-size: 10px;
  }
}

@media (max-height: 700px) {
  .pomodoro-btns {
    font-size: 8px;
    border: 2px solid #fff;
  }
}

@media (max-height: 650px) {
  .container-pomodoro_timer h1 {
    font-size: 30px;
  }

  .timer {
    font-size: 20px;
  }
}
