
.container-pomodoro_timer{
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

#status{
  font-size: 18px !important;
  font-weight: 750 !important;
}

.timer{
  font-size: 42px !important;
  font-weight: 900 !important;
  letter-spacing: .8px;
  text-align:center;
  margin: 8px 0 2px;
}

.preset-buttons{
  display:flex;
  gap: 10px;
}

.preset-buttons button{
  flex: 1;
}

#start-stop-btn, #start-break-btn{
  width: 100% !important;
}

#new-preset-form{
  display:flex;
  gap: 10px;
  margin-top: auto;
}

#new-preset-form input{
  flex: 1;
  width: 100% !important;
}

#new-preset-form button{
  width: 40%;
}
