.weather-widget {
  background: rgba(0, 0, 0, 0.418);
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.292);
  width: 300px;
  text-align: center;
  margin-right: 5vh;
  height: 40vh;
  margin-bottom: 5vh;
}
.weather-widget input,
.weather-widget button {
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 22px);
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.weather-widget button {
  background: #fff;
  color: black;
  cursor: pointer;
}
.weather-widget button:hover {
  background: #fff;
}
.weather-info {
  margin-top: 20px;
}
.weather-info .city {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.weather-info .city h3 {
  margin: 0;
  color: #fff;
}
.weather-info .city span {
  margin-left: 10px;
  cursor: pointer;
  color: #888;
}
.weather-info .city span:hover {
  color: #555;
}
.weather-emoji {
  font-size: 2.5rem;
}
.temperature {
  font-size: 3em;
  color: #fff;
  margin: 5px 0;
}
.details {
  font-size: 17px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: white;
}
.details div {
  text-align: center;
}
.details div p {
  margin: 5px 0;
}
.details div .icon {
  font-size: 1.5rem;
}
